body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f7;
    color: #1c1c1e;
}

.explorer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.sidebar-item {
    padding: 5px;
    font-size: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    color: #007aff;
}

.sidebar-item i {
    margin-bottom: 2px;
    font-size: 24px;
}

.sidebar-item.active {
    color: #007aff;
}

.content {
    margin: 0;
    margin-bottom: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.topbar h1 {
    font-size: 20px;
    margin: 0;
    color: #1c1c1e;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #e0e0e5;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

.search-bar input {
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

.tab-content {
    display: none;
    padding: 10px;
}

.tab-content.active {
    display: block;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.profile-details {
    font-family: 'Titillium Web';
    color: #1c1c1e;
    font-size: 16px;
    text-align: center;
}

.quick-access {
    padding: 10px;
    overflow-y: auto;
}

.quick-access h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    color: #1c1c1e;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 80px;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s ease;
}

.item i {
    font-size: 24px;
    margin-bottom: 5px;
}

.item span {
    display: block;
    font-size: 14px;
    color: #1c1c1e;
}

.item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

#new-tab-logo {
    width: 40px;
    height: auto;
    margin-left: 10px;
}
